
@import url('https://fonts.googleapis.com/cssfamily=Bebas+Neue&family');
@import url('https://fonts.googleapis.com/cssfamily=Zen+Antique&display=swap');



*{


margin: 0;

}


body {

font-family: 'Zen Antique', serif;
background-color: #2a2694;
color: white;


}

.h1 {

font-family:  'Bebas Neue', cursive;


}

.header {

height: 40%;
width: 100%;
background-color: #2a2694;
border: 2px solid #0f0d5adc;

}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 100%;

}



.navbar{

display: flex;
flex-direction: row;
width: 50%;
justify-content: space-between;
list-style: none;
padding: 40px;
text-decoration: none;

}

.navbar .active {

font-weight: bolder;
color: lightblue;

}

.navbar a {

color: white; 
text-decoration: none;  

}

.banner .container {

    height: 550px;
    background-image: url(imagens/Captura\ de\ tela\ 2021-10-30\ 153654\ \(3\).png);
    background-size: cover; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
       

}

.texto {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

 h3 {

margin-left: 20px;

}


.meta .container {

height: 70vh;
background-color: #ffffff9d;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.meta .container .imgs .i1 .i2 {


    height: 100px;
    width: 100px;

    
}

.meta .container .imgs .frase1 {

    font-size: 30px;
    font-weight: bold;
    margin: 25px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.meta .container .imgs {

    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.meta .container .imgs div {

    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    }



.meta .container .btsm {

color: white;
background-color: rgb(133, 99, 243);
border-radius: 30px;
text-transform: uppercase;
font-weight: bold;
padding: 20px;





}

.footer  {

height: 120px;
width: 100%;
background-color: #202c42ce;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}


.quems .container {

height: 100vh;
width: 100%;
background-color: #1c23309d;
display: flex;
justify-content: center;
align-items: center;
margin: auto;

}

.quems .container div {

height: 80%;
width: 90%;
background-color: #ffffff9d  ;

}

.quems .container img {




}


.conteudo .cadastro div {

    background-color: #202c42ce;
    height: 60vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    
}


.cadastro {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;  
}

input {
    
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    
        
    }

.login {

     background-color: #202c42ce;
     height: 40vh;
     width: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    
    }

.bt {

padding: 15px;
border-radius: 20px;
background-color: rgb(133, 99, 243);
color: black;
border: black 1px solid;

}
 

