
@import url('https://fonts.googleapis.com/cssfamily=Bebas+Neue&family');
@import url('https://fonts.googleapis.com/cssfamily=Zen+Antique&display=swap');



*{


margin: 0;

}


body {

font-family: 'Zen Antique', serif;
background-color: #3645619d;
color: white;


}

.h1 {

font-family:  'Bebas Neue', cursive;


}

.header {

height: 40%;
width: 100%;
background-color: #3645619d;

}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 100%;

}



.navbar{

display: flex;
flex-direction: row;
width: 50%;
justify-content: space-between;
list-style: none;
padding: 40px;
text-decoration: none;

}

.navbar .active {

font-weight: bolder;

}

.navbar a {

color: white; 
text-decoration: none;  

}

.frases  {

    height: 650px;
    background-image: url(imagens/MetaReading\ •\ Organazing.png);
    background-size: cover; 
    display: flex;
    justify-content: left;
    align-items: center;
    

}


.frase1 {

    font-size: 40px;
    font-weight: bolder;


}

.frase2 {


    font-size: 20px;


}

.conteudo .container {

height: 500px;
background-color: #1c23309d;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
width: 100%;


}


.conteudo .container .imagens {


height: 20px;
background-size: cover;

}

.footer  {

height: 120px;
width: 100%;
background-color: #202c42ce;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}


.quems .container {

height: 100vh;
width: 100%;
background-color: #1c23309d;
display: flex;
justify-content: center;
align-items: center;
margin: auto;

}

.conteudo .container .cadastro {

background-color: #202c42ce;
height: 70%;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
flex-direction: column;

}

 .login {

    display: flex;
    background-color: #202c42ce;
    height: 60%;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    
    }

.bt {

padding: 5px;
background-color: rgb(133, 99, 243);
color: black;
border: black 1px solid;

}
 

