@import url('https://fonts.googleapis.com/cssfamily=Bebas+Neue&family');
@import url('https://fonts.googleapis.com/cssfamily=Zen+Antique&display=swap');




*{


margin: 0;

}


body {

font-family: 'Zen Antique', serif;
background-image: url("https://images.pexels.com/photos/1024613/pexels-photo-1024613.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");


}

.h1 {

font-family:  'Bebas Neue', cursive;


}

.header {

height: 40%;
width: 100%;
background-color: rgba(246, 240, 162, 0.582);

}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 100%;

}



.navbar{

display: flex;
flex-direction: row;
width: 50%;
justify-content: space-between;
list-style: none;
padding: 40px;
text-decoration: none;

}


.frases  {

    height: 500px;
    background-image: url(https://images.pexels.com/photos/733852/pexels-photo-733852.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover; 
    display: flex;
    justify-content: left;
    align-items: center;
    

}


.frase1 {

    font-size: 40px;
    font-weight: bolder;


}

.frase2 {


    font-size: 20px;


}

.conteudo .container {

background-color: rgb(246, 241, 162) ;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
width: 100%;


}


.footer  {

height: 120px;
width: 100%;
background-color: rgba(246, 240, 162, 0.664);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;



}

