
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200&family=Zen+Antique&display=swap');

*{


margin: 0;
font-family: 'Zen Antique', serif;

}


body {

    color: white;
    background-color: #2a2694;


}

h1 {

font-family: 'Bebas Neue', cursive;
color: black;
font-size: 50px;

}

.header {

height: 100px;
background-color: #2a2694;
border: 2px solid #0f0d5adc;

}

.header .container {

    margin: auto;
    width: 80%;
    height: 100%;

}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;

}



.navbar{

display: flex;
flex-direction: row;
width: 50%;
justify-content: space-between;
list-style: none;
padding: 20px;
text-decoration: none;

}

.navbar .active {

font-weight: bolder;
color: lightblue;

}

.navbar a {

color: white; 
text-decoration: none;  

}

.banner {

    height: 500px;
    background-image: url(imagens/Captura\ de\ tela\ 2021-10-30\ 153654\ \(3\).png);
    background-size: cover; 
    display: flex;
    justify-content: left;
    align-items: center;
       

}

.texto {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h3 {

margin-left: 20px;

}

.meta {

height: 500px;
background-color: #dbd6d6;
    
} 

.meta .container {

height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
        
        
}
        
.meta .container .imgs div img {
                
height: 900px;
width: 900px;
        
            
}

.meta .container .imgs div {

width: 20vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
    

}
        
.meta .container .imgs .frase1 {
    
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;    
color: black;    
font-size: 30px;
font-weight: bold;
margin: 15px 0 ;


}
        
        
.meta .container .imgs {

display: flex;
justify-content: space-between;
height: 150px;
width: 100%;
          
}
        
        
.meta .container .imgs p button {
       
display: flex;
justify-self: center;
align-self: center;
flex-direction: column;
color: white;
background-color: rgb(133, 99, 243);
border-radius: 30px;
text-transform: uppercase;
font-weight: bold;
padding: 20px;
margin-top: 40px;
box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
backdrop-filter: blur(5px);
transition: 0.5s;
                
}
    
.footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #202c42;
    height: 160px;
    border: 2px solid #0f0d5adc;

}


.quems .container {

height: 100vh;
width: 100%;
background-color: #1c23309d;
display: flex;
justify-content: center;
align-items: center;
margin: auto;

}

.quems .container div {

height: 80%;
width: 90%;
background-color: #ffffff9d  ;

}

.quems .container img {




}


.conteudo .cadastro div {

    background-color: #202c42ce;
    height: 60vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    
}


.cadastro {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;  
}

input {
    
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    
        
    }

.login {

     background-color: #202c42ce;
     height: 40vh;
     width: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    
    }

.bt {

padding: 15px;
border-radius: 20px;
background-color: rgb(133, 99, 243);
color: black;
border: black 1px solid;

}
 

